body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Vollkorn Medium', serif;
    font-size: 22px;
    text-align: center;
  }

button {
  font-family: 'Vollkorn Medium', serif;
  font-size: 22px;
}

#textDiv {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 10px;
    border-radius: 0px;
    z-index: 20;
    mix-blend-mode: luminosity;
    letter-spacing: 0.1em;
    color: #FFFFE6;
max-width: 600px;
    width: 75%;  
  }

#textDiv p {
    pointer-events: none; 
  }


.escapable {
  /*
  border: 4px solid black;
  box-shadow: 0 0 30px 10px rgba(0,0,0, 0.7);
  */
}


.tilt-l {
  transform: rotate(-2deg);
}
.tilt-r {
  transform: rotate(2deg);
}
.tilt-l2x {
  transform: rotate(-5deg);
}
.tilt-r2x {
  transform: rotate(5deg);
}

canvas {
display: block;
}

a {
    color: #FFFFE6; /* Light text color */
}

/* Splash screen container */
#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  color: #FFFFE6; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above everything else */
}

/* Splash screen content */
#splashContent {
  padding: 20px;
  background-color: #00264C; /* Dark background for the content */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 75%; /* Default width is 75% of the screen */
  max-width: 600px; /* Limit the maximum width to 600px */
}

#splashButton {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #FFFFE6; /* Light background for the button */
  color: #00264C;
  border: none;
  border-radius: 5px;
}

#splashButton:hover {
  background-color: #00264C;
  color: #FFFFE6; 
}

@media (max-width: 600px) {
  body, html {
    font-size: 28px; /* Further increase font size for better readability */
  }
  button {
    font-size: 28px; /* Further increase font size for better readability */
  }
}
