@font-face {
  font-family: 'Vollkorn-Medium';
  src: url('./Vollkorn-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Vollkorn-Medium', serif;
    font-size: 18px;
    text-align: center;
  }

button {
  font-family: 'Vollkorn-Medium', serif;
  font-size: 22px;
}

#textDiv {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 10px;
    border-radius: 0px;
    z-index: 20;
    mix-blend-mode: luminosity;
    letter-spacing: 0.1em;
    color: #FFFFE6;
max-width: 600px;
    width: 75%;  
  }

.words {
    pointer-events: none; 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
    font-size: 22px;
    text-shadow: 0 0 6px rgba(0,0,0, 0.5);
  }

canvas {
display: block;
}

a {
    color: #FFFFE6; /* Light text color */
}

/* Splash screen container */
#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  color: #FFFFE6; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above everything else */
}

/* Splash screen content */
#splashContent {
  padding: 30px;
  background-color: rgba(0, 38, 76, 0.8); /* Dark background with 90% opacity */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 75%; /* Default width is 75% of the screen */
  max-width: 600px; /* Limit the maximum width to 600px */
}

#splashButton {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #FFFFE6; /* Light background for the button */
  color: rgba(0, 38, 76);
  border: none;
  border-radius: 5px;
}

#splashButton:hover {
  background-color: rgba(0, 38, 76, 0.8); /* Darker background on hover */
  box-shadow:inset 0px 0px 0px 1px #ffffe6;
  color: #FFFFE6; 
}

.escapable .words {
  display: inline-block; /* Ensure the text remains inline */
  animation: subtleWave 6s infinite ease-in-out;
  text-shadow: 0 0 6px rgba(0,0,0, 0.5);
}

@keyframes subtleWave {
  0%, 100% {
    transform: translateY(0); /* No movement at start and end */
  }
  50% {
    transform: translateY(-30px); /* Subtle upward movement */
  }
}

/*
@media (max-width: 600px) {
  body, html, button {
    font-size: 140%;
  }
}
*/